/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 2rem;
  background-color: #fff;
  color: #001524;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-transparent {
  background-color: transparent !important;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}

.navbar h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  z-index: 12;
}
.navbar-transparent h2 {
  color: #ffecd1;
}
.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #3498db;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.sign-in-btn,
.user-profile {
  padding: 0.4rem 0.9rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.sign-in-btn {
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
}

.sign-in-btn:hover {
  background-color: #2980b9;
}

.user-profile {
  background-color: #15616d;
  color: #ffffff;
  cursor: pointer;
}

.user-profile:hover,
.sign-in-btn:hover {
  background-color: #15616d;
}
.user-profile,
.sign-in-btn {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.sign-in-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #15616d;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .navbar-links {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .navbar-right {
    margin-top: 1rem;
  }
}
